$primary-color: #F5F7FB;
$secondary-color: #4D426D;
$background-select: #D7DBE2;
$background-select2: #CCD2DC;
$online-color: #4A8891;
$offline-color: #CAC5D2;
$font-select-1: #1E1E1E;
$font-select-2: #B2B2B2;
$font-select-3: #703EFE;
$plain-white: #ffff

